# Uploaded files
# ----------------------------------------------------------------------
public/assets/uploads/*

# Configuration
# ----------------------------------------------------------------------
.env
scripts/.env.sh
.env.php

# Dependencies
# ----------------------------------------------------------------------
/vendor/
/node_modules/

# Derived
# ----------------------------------------------------------------------
public/dist/*

# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
*.log
*.pem